
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Save product to a list</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      <%= simple_form_for [@product, @list, @bookmark] do |f| %>
        <%= f.association :list, label: 'Select a list' %>
        <%# 1.intercept form submission via js TODO adding a listener to the form, prevent default%>
        <%# 2. use a FETCH call to do the POST for bookmark, parse return data%>
        <%# 3. see if data is correct, if correct, close modal w/ modal.hide, else inject HTML in modal to show error %>
        <div class="form-actions text-center">
          <%= f.button :submit, class: "btn-filled close", data: {dismiss: "modal"}%>
        </div>
      <% end %>

      </div>
      <div class="modal-footer text-center">
        <%=  button_to "+ Create a new list", new_list_path, :method => :get, :class=> "btn-terciary" %>
      </div>
    </div>
  </div>
</div>
