// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$light-green: #E8FFEB;
$green: #58B660;
$dark-green: #105117;
$gray: #0E0000;
$light-gray: #F4F4F4;
$light-black: #363636;
$mid-grey: #8F8F8F;
$bg-gray: #f7f7f7;
