// Specific CSS for your home-page
body{
  color: $light-black;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.header{
  padding-top: 40px;
}
h1{
  font-weight: 700;
  font-size: 3.5rem;
}

.home-heading{
  padding-top: 40px;
  color: white;
}
.head-text{
  color: $mid-grey;
  font-size: 1.3rem;
}
a {
  text-decoration: none !important;
}
a:hover{
   color: #14621c;
}
.green-highlight{
  color: $green;
}
.home-image{
  padding-top: 70px;
  width: 900px;
}
.bg-darkgreen{
  background-color: $dark-green;
  background: linear-gradient(180deg, rgba(22,101,21,1) 0%, rgba(16,81,23,1) 50%);
  padding-bottom: 80px;
}
footer{
  margin-top: auto;
  // background-color: $dark-green;
  // .white-text{
  //   color: white;
  // }
}
.bi-question-circle{
  color: $green;
}

