// Specific CSS for your home-page
body{
  color: $light-black;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.header{
  padding-top: 40px;
}
h1{
  font-weight: 700;
  font-size: 3.5rem;
}
h3{
  font-weight: 700;
}
.home-heading{
  padding-top: 40px;
}
.head-text{
  color: $mid-grey;
  font-size: 1.3rem;
}
a {
  text-decoration: none !important;
}
a:hover{
   color: #14621c;
}
.green-highlight{
  color: $green;
}
.home-image{
  padding-top: 70px;
}
.bg-gray{
  background-color: $bg-gray;
}
footer{
  margin-top: auto;
  background-color: $dark-green;
  .white-text{
    color: white;
  }
}
.bi-question-circle{
  color: $green;
}
