.form-cage{
  padding: 44px;
  background-color: white;
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .new-list-container{
    display: inline-block;

  }

}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  .new-list-container{
  display: inline-block;
  }
  // .product-info{
  //   padding-top: 30px;
  // }
}
