.form-cage{
  padding: 44px;
  background-color: white;
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .new-list-container{
    display: block !important;
    text-align: center;
    img {
      padding-top: 30px;
    }
  }
  .form-cage{
    margin: 16px !important;
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  .new-list-container{
    display: block !important;
    text-align: center;
    img {
      padding-top: 30px;
    }
  }
  .form-cage{
    margin: 16px !important;
  }
}
