<footer class="container-fluid">
  <div class="container py-5">
    <div class="row justify-content-between">
      <div>
        <%= link_to "Recyclopedia", root_path, class: "logo-dark-green" %>
      </div>
      <%# <div>
        <i class="fab fa-facebook-f pl-2"></i>
        <i class="fab fa-instagram pl-2"></i>
        <i class="fab fa-twitter pl-2"></i>
      </div> %>
    </div>
    <!-- <p>Under construction</p> -->
  </div>
</footer>
