<footer class="container-fluid">
  <div class="container py-5">
    <div class="text-center">

      <p>
        Made by <a href="https://github.com/rhaasti/recyclopedia/graphs/contributors">Recyclopedia team</a>
        <%= cl_image_tag("heart", width: 25) %>
        Reduce, Reuse, Recycle, Rihanna!
      </p>
    </div>
  </div>
</footer>
