.btn-filled{
  background-color: $dark-green;
  background: linear-gradient(140deg, rgba(22,101,21,1) 0%, rgba(16,81,23,1) 50%);
  font-weight: lighter;
  font-size:15px;
  border-radius: 60px;
  color: white;
  padding: 8px 38px;
  border-style: none;
  &:hover{
  background-color: #14621c;
  background: linear-gradient(140deg, #1b721a 0%, #115819 50%);
  color: white;
  }
}
.btn-terciary{
  color: $dark-green;
  &:hover{
    color: $green;
    text-decoration: underline !important;
  }
}
i{
  color: $dark-green;
  &:hover{
    color: $green;
  }
}
.tag{
  font-size: 14px;
  background-color: #E8FFEB;
  color: $green;
  border-radius: 60px;
  border-style: none;
  padding: 8px 24px;
  i{
   color: $green;
  }
  &:hover{
    background-color: #e0f8e4;
  }
}
