.card-category {
  height: 144px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: white;
  p{
    color: $dark-green !important;
    padding-left: 10px;
    margin: 0;
  }
  &:hover {
    box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 8px 0px;
  }
}
// HOME CARD MATERIALS
.card-darkershadow{
  box-shadow: rgba(17, 17, 26, 0.34) 0px 8px 24px, rgba(17, 17, 26, 0.34) 0px 16px 56px, rgba(17, 17, 26, 0.34) 0px 24px 80px;
  &:hover {
  box-shadow: rgba(17, 17, 26, 0.6) 0px 8px 24px, rgba(17, 17, 26, 0.6) 0px 16px 56px, rgba(17, 17, 26, 0.6) 0px 24px 80px;
  }
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 45px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

// Index page for products
.product-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 35px;
  background-color: white;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .product-grid {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .product-grid {
    grid-template-columns: 1fr 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .product-grid {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .product-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .product-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.wrap-info{
display: flex;
flex-direction: column;
padding: 16px;
// position: relative;
// bottom: 0;
// width: 100%;
}
.card-product{
  // position: relative;
  height: 100%;
  overflow: hidden;
  color: $dark-green;
  font-size: 24px;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  img{
    height: 180px;
    width: 100%;
    object-fit: contain;
  }
  &:hover {
    box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 8px 0px;
  }

}
.card-product-info{
  // padding: 0 16px 11px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // position: relative;
  p{
    font-size: 16px;
    font-weight: 400;
    margin: 0;
  }
  i{
    font-size: 20px;
  }
}

