.form-control{
  border-radius: 60px;
}
.form-control::-webkit-input-placeholder {
  color: #bbb;
  font: lighter 14px Nunito, serif;
  // text-indent: 14px;
  // padding-left: 14px;
}
// .form-product-field{
//   width: 400px;
// }
// .form-zip-field{
//   width: 140px;
// }

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .btn-home-search{
    margin-top: 15px;
  }
  .form-zip{
    margin-top: 15px;
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  .btn-home-search {
    margin-top: 15px;
  }
  .form-zip{
    margin-top: 15px;
  }
}

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) {

// }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
// }


 // navbar partial search bar
 #search-icon{
  position: absolute;
  z-index: 1;
  top: 11px;
  left: 16px;
  color: #bbb;
}
.search-bar{
  position:relative;
}
.pl-5 {
  padding-left: ($spacer * 2.5) !important;
}

