.form-control{
  border-radius: 60px;
}
.form-control::-webkit-input-placeholder {
  color: #bbb;
  font: lighter 14px Nunito, serif;
  // text-indent: 14px;
  // padding-left: 14px;
}
 // navbar partial search bar
.pl-5 {
  padding-left: ($spacer * 2.5) !important;
}
