.list-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 24px;
}

.list-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  h2 {
    margin-bottom: 0;
  }

  .link {
    color: $dark-green;
    font-weight: bold;
  }
}

.list-card {
  height: 175px;
  background: white;
  box-shadow: 0 0 15px rgba(75, 72, 72, 0.2);
  display: flex;
  align-items: center;
  margin-top: 20px;
  border-radius: 10px;
}

.list-card-info {
  padding: 16px;
}

.list-card-img {
  height: 100% !important;
  width: 120px !important;
  object-fit: contain;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-left: 6px;
}

.list-card h2, .list-card h4 {
  font-size: 25px;
  font-weight: bold;
  margin-left: 35px;
  color: $light-black;
}

.list-card p {
  font-size: 16px;
  margin-left: 35px;
  margin-bottom: 0;
}

.list-index-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 24px;
}

.list-index-card {
  height: 210px;
  width: 180px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 20px 0;
  width: 320px;
  padding: 16px;
  align-items: center;
  border-radius: 10px;
}

.list-index-card h3 {
  color: $light-black;
}

.list-imgs {
  width: 180px;
  display: flex;
  justify-content: space-between;
  img {
    margin-right: 4px;
  }
}



