<div class="container">
  <div class="title-box">
    <h3>@product.name</h3>
    <%= link_to bookmarks_path, class:"dark-green" do%>
      <i class="far fa-bookmark"></i>
    <% end %>
  </div>

  <hr>

  <div class="product-card">
    <%= image_tag "can-of-coke.jpeg", class:"image" %>
    <div class="product-info">
      <h3>Material description</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil enim illum repellat cumque est quibusdam inventore pariatur placeat earum modi. Ea, delectus aut tempore harum placeat perspiciatis dolor. Praesentium, neque.</p>
      <div class="tags">
        <button></button>
      </div>
      <div class="additional-product-info">
        <div class="upc">
        <h4>UPC</h4>
        <p>12334554654</p>
        </div>
        <div class="size">
        <h4>Size</h4>
        <p>1L</p>
        </div>
      </div>
    </div>
  
  </div>

</div>