.title-box, .product-card {
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

.image {
  width: 400px;
  margin-right: 50px;
  object-fit: cover;
  border-radius: 10px;
}

.additional-product-info {
  display: flex;
  margin-top: 20px;
  .upc {
    margin-right: 50px;
  }
}

button {
  margin-right: 50px;
}
