.title-box{
  padding-top: 40px;
  align-items: center;
  i{
    font-size: 20px;
  }
}
.title-box, .product-card {
  margin: 28px auto;
  display: flex;
  justify-content: space-between;
  li{
    color: #686868;
  }
  h4{
    font-family: "Nunito", "Helvetica", "sans-serif";
  }
}

.image {
  width: 400px;
  margin-right: 50px;
  object-fit: cover;
  border-radius: 10px;
}

.additional-product-info {
  display: flex;
  margin-top: 24px;
  .upc {
    margin-right: 50px;
  }
}


