.title-box{
  padding-top: 40px;
  align-items: center;
  i{
    font-size: 20px;
  }
}
.title-box, .product-card {
  // margin: 28px auto;
  display: flex;
  justify-content: space-between;
  li{
    color: #686868;
  }
  h4{
    font-family: "Nunito", "Helvetica", "sans-serif";
  }
}
.tags{
  button{
    cursor:default;
  }
}
.tag{
  font-size: 14px;
  background-color: #E8FFEB;
  color: $green;
  border-radius: 60px;
  border-style: none;
  padding: 6px 20px;
  margin-right: 10px;
  margin-top: 10px;
  i{
   color: $green;
  }
}

.image {
  width: 400px;
  margin-right: 50px;
  object-fit: cover;
  border-radius: 10px;
}

.additional-product-info {
  display: flex;
  margin-top: 24px;
  .upc {
    margin-right: 50px;
  }
}
.no-margin{
  margin: 0;
}
.map-container{
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.map-box {
  p{
    font-size: 15px;
  }
}
.mapboxgl-popup-close-button{
  &:hover{
    color: $green;
    background-color: none;
  }
}

